@use "./variables.scss";
@use "./fonts.scss";

html {
  font-family: system-ui, sans-serif;
  background: var(--background);
  color: var(--foreground);
  height: 100vh;
  width: 100vw;
  font-family: "Din", sans-serif;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
