---
import Layout from "../layouts/Layout.astro";
import ProjectNav from "../components/ProjectNav.astro";
import ProjectView from "../components/ProjectView.tsx";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import Logo from "../components/Logo.astro";

const projects = await getCollection("projects");
projects.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Isovist">
  <main
    class="md:p-4 h-screen lg:h-[100vh] w-screen grid
					gap-4 grid-rows-[25%_40%_25%_5%] md:grid-rows-desktop-layout z-10
					grid-areas-mobile-layout
          grid-cols-mobile-layout
					lg:grid-areas-desktop-layout
					lg:grid-cols-desktop-layout"
  >
    <Logo slot="logo" />
    <ProjectView projects={projects} client:load />
    <ProjectNav projects={projects} />
    <Footer />
  </main>
</Layout>

<script>
  window.currentProjectIndex = 0;

  window.changeProject = (index) => {
    window.currentProjectIndex = index;
    window.dispatchEvent(new CustomEvent("projectChanged"));
  };
</script>
