---
import Layout from "../layouts/Layout.astro";
import ProjectNav from "../components/ProjectNav.astro";
import ProjectView from "../components/ProjectView.tsx";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import Logo from "../components/Logo.astro";

const projects = await getCollection("projects");
projects.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Isovist">
  <main
    class="p-4 h-screen md:h-[60vh] lg:h-[100vh] w-screen grid
					gap-4 grid-rows-[1fr_6fr_1fr_20px] z-10
					grid-areas-mobile-layout
					md:grid-areas-desktop-layout
					md:grid-cols-[2fr_3fr_2fr]
					lg:grid-rows-[0fr_4fr_1fr_20px]
					lg:grid-cols-[1fr_2fr_1fr]"
  >
    <Logo slot="logo" />
    <ProjectView projects={projects} client:load />
    <ProjectNav projects={projects} />
    <Footer />
  </main>
</Layout>

<script>
  window.currentProjectIndex = 0;

  window.changeProject = (index) => {
    window.currentProjectIndex = index;
    window.dispatchEvent(new CustomEvent("projectChanged"));
  };
</script>
