---
import Layout from "../layouts/Layout.astro";
import ProjectNav from "../components/ProjectNav.astro";
import ProjectView from "../components/ProjectView.tsx";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Isovist">
  <main
    class="p-4 h-screen w-screen grid grid-cols-1 gap-4 grid-rows-[1fr_6fr_1fr_1fr] z-10"
  >
    <ProjectView projects={projects} client:load />
    <ProjectNav projects={projects} />
    <Footer />
  </main>
</Layout>

<script>
  // Simple global variable
  window.currentProjectIndex = 0;

  // Simple event to notify of changes
  window.changeProject = (index) => {
    window.currentProjectIndex = index;
    window.dispatchEvent(new CustomEvent("projectChanged"));
  };
</script>
