---
import backgroundImage from "../assets/livingroom_3.png";
import { Image } from "astro:assets";
---

<div
  class="fixed inset-0 h-screen md:h-[70vh] lg:h-screen w-full z-[-10] flex flex-col items-center justify-center md:justify-start"
>
  <Image
    src={backgroundImage}
    alt="background"
    loading="eager"
    quality={100}
    class="absolute top-1/2 md:top-0 left-1/2 -translate-x-1/2 md:translate-y-0 -translate-y-1/2 h-[70vh] md:h-[50vh] lg:h-auto md:min-w-[1920px] object-cover"
  />
  <!-- <Image
    src={tableImage}
    alt="table"
    class="absolute top-[65%] md:top-[55%] lg:top-[70%] left-1/2 -translate-x-1/2 -translate-y-1/2 w-[700px] md:h-[100px] lg:h-[150px] h-auto object-cover"
  /> -->
  <div
    class="absolute md:h-[50vh] lg:h-screen inset-0 bg-gradient-to-b from-black via-transparent to-black gradient-stops"
  >
  </div>
</div>
<style>
  .gradient-stops {
    --tw-gradient-stops: var(--tw-gradient-from) 0%, transparent 30%,
      transparent 70%, var(--tw-gradient-to) 100%;
  }

  @media (min-width: 768px) {
    .gradient-stops {
      --tw-gradient-stops: var(--tw-gradient-from) 0%, transparent 20%,
        transparent 80%, var(--tw-gradient-to) 100%;
    }
  }
</style>
