---
import backgroundImage from "../assets/livingroom_3.png";
import { Image } from "astro:assets";
---

<div
  class="fixed inset-0 h-screen lg:h-screen w-full z-[-10] flex flex-col items-center justify-center"
>
  <Image
    src={backgroundImage}
    alt="background"
    loading="eager"
    quality={100}
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-[70vh] lg:h-auto object-cover"
  />
  <div
    class="absolute lg:h-screen inset-0 bg-gradient-to-b from-black via-transparent to-black gradient-stops"
  >
  </div>
</div>
<style>
  .gradient-stops {
    --tw-gradient-stops: var(--tw-gradient-from) 0%, transparent 60%,
      transparent 70%, var(--tw-gradient-to) 100%;
  }

  @media (min-width: 1024px) {
    .gradient-stops {
      --tw-gradient-stops: var(--tw-gradient-from) 0%, transparent 20%,
        transparent 80%, var(--tw-gradient-to) 100%;
    }
  }
</style>
