---
import { Image } from "astro:assets";
import emailIcon from "../assets/email_icon.png";
---

<footer
  class="self-end w-full h-[16px] text-foreground-secondary text-center flex items-center justify-center grid-in-footer hover:scale-110 transition-all ease-in-out duration-500 cursor-pointer"
>
  <a href="mailto:hello@isovist.com">
    <Image
      src={emailIcon}
      alt="email isovist"
      class="w-auto h-[30px] lg:mb-10 hover:brightness-150 transition-all duration-300"
    />
  </a>
</footer>
