---
import Tagline from "./Tagline.astro";
import Wordmark from "./Wordmark.astro";
---

<div
  class="w-full h-[100px] self-center pr-4 flex flex-col justify-center items-start grid-in-top-left lg:grid-in-main-left
  lg:self-center lg:grid lg:grid-cols-[170px_auto] lg:gap-8"
>
  <Wordmark />
  <Tagline />
</div>
