---
import ProjectThumb from "./ProjectThumb.astro";

const { projects } = Astro.props;
---

<div
  class="h-full grid grid-cols-4 lg:grid-cols-8 pointer-events-auto place-items-center grid-in-nav px-2 container mx-auto"
>
  {
    projects.map((project: any, index: number) => (
      <ProjectThumb {...project.data} index={index} />
    ))
  }
</div>

<script>
  // Get all buttons
  const buttons = document.querySelectorAll("button");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const index = parseInt(button.dataset.index as string);
      window.changeProject(index);
    });
  });
</script>
