---
import { Image } from "astro:assets";

const { title, index, thumbnail } = Astro.props;
---

<button
  class="my-2 w-full flex justify-center border-r-[0.5px] border-opacity-50 border-foreground [&:last-child]:border-r-0 [&:nth-child(4)]:md:border-r-[0.5px] [&:nth-child(4)]:border-r-0"
  data-index={index}
>
  <Image
    class="w-auto h-[60px] hover:scale-110 transition-all ease-in-out duration-500"
    src={thumbnail}
    alt={title}
  />
</button>
