---
import logo from "../assets/wordmark.png";
---

<div
  class="w-fit h-[60px] flex justify-center items-center self-end md:self-center"
>
  <img class="w-full h-auto" src={logo.src} alt="logo" />
</div>
