---
import logo from "../assets/wordmark.png";
---

<div
  class="w-fit h-[60px] lg:h-[102px] flex justify-center justify-self-end self-end items-center self-end lg:self-end lg:justify-self-end"
>
  <img class="w-auto h-full" src={logo.src} alt="logo" />
</div>
